@font-face{
    font-family: 'roboto_regular';
    src: url(../fonts/Roboto-Regular.woff);
}

@font-face{
    font-family: 'roboto_thin';
    src: url(../fonts/Roboto-Thin.woff);
}

@font-face{
    font-family: 'roboto_light';
    src: url(../fonts/Roboto-Light.woff);
}

/* Css Reset */
*,body,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family:'roboto_regular' ;
  }

  a{
    text-decoration: none;
  }

header{
    overflow: hidden;
    background-color:#395B64;
}

 .container{
    width: 1100px;
    margin: auto;
 }

 nav#navbar div#logoSet {
    float:left;
    width:40%;
 }

 nav#navbar div#logoSet h1 a{
    display: block;
    padding:24px 20px;
    color: #E7F6F2;
    font-size: 22px;
    font-family:'roboto_light';
    letter-spacing: 6px;
    text-shadow: 2px 2px 3px #2e2e2e;
 }

 nav#navbar div#navSet{
    float:left;
    width:60%;
 }

 nav#navbar div#navSet ul li{
    list-style-type: none;
 }

 nav#navbar div#navSet ul li a{
    float: right;
    display: block;
    padding: 25px 20px;
    color:#ffffff;
    margin-left: 4px;
    line-height: 25px;
 }

 div#navSet ul#menuBar li a:hover{
   background-color: #E7F6F2;
   color: #2e2e2e;
 }

 div#navSet ul#menuBar li a.current{
   background-color: #E7F6F2;
   color: #2e2e2e;
   /* padding-bottom:5px; */
 }

 /* div#navSet ul#menuBar li a.current:hover{
   padding-bottom:25px;
   
 } */

